{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/home.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container dashed-container">
    <div class="above-fold">
        <div class="row h-100">


            <div class="col align-self-center">
                <div style = "background-color: red;" class="card text-center">
                    <img class="card-image profile_pic mx-auto" src="{%static 'img/profile_pic.png'%}" alt="Profile Pic">
                    <div class="card-body">
                        <h2 class="card-text">Hi I'm Clay</h2>
                        <p class = "card-text"> I'm a software developer based out of Asheville North Carolina</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .dashed-container{
        border: 1px dashed black;
    }
    .above-fold {
        height: 90vh;
    }
    .profile_pic{
        max-width: 200px;
    }
</style>
<!--
<div class="container" style="height: 90vh; border: 1px solid blue;">
    <div class="row align-items-center">
        <div class="col">

        </div>
    </div>
</div>
-->
{% endblock content %}