{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/home.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container dashed-container">
    <div class="above-fold">
        <div class="row h-100">
            <div class="col align-self-center text-center">
                <div class="card text-center mx-auto profile-card">
                    <img class="card-image profile-pic mx-auto" src="{%static 'img/profile_pic.png'%}"
                        alt="Profile Pic">
                    <div class="card-body">
                        <h2 class="card-text">Hi I'm Clay</h2>
                        <p class="card-text"> I'm a software developer with 4+ years of professional experience based
                            out of Asheville NC. I am very enthusiastic about my work and appreciate well designed
                            products.</p>
                    </div>
                </div>
                <a href = "{% url 'site_info' %}" class="btn btn-primary mx-auto styled-button">Learn more about me</a>
            </div>

        </div>
    </div>
</div>


{% endblock content %}